<ion-content mode="ios">
  <div class="md:w-96 mx-auto">
    <div class="h-72 bg-[#3D348B] rounded-md relative">
      <h2 class="pt-10 ml-7 font-bold text-2xl text-white">Hey Jhon!</h2>
      <br />
      <span class="ml-7 font-bold text-xl text-white">Where do you want to go?</span>
      <div class="relative">
        <ion-card color="secondary" mode="ios" class="m-4 h-80 w-auto rounded-2xl">


          <ion-card-content>
            <ion-item lines="none" color="light" class="rounded">
              <ion-icon name="pin" slot="start" color="primary"></ion-icon>
              <ion-input label="Pickup Location" labelPlacement="stacked" class="text-[#3D348B]" color="primary">
              </ion-input>
            </ion-item>
            <ion-item lines="none" color="light" class="rounded">
              <ion-icon name="navigate-circle" slot="start" color="primary"></ion-icon>
              <ion-input label="Drop Location" labelPlacement="stacked" class="text-[#3D348B]" color="primary">
              </ion-input>
            </ion-item>
            <ion-item lines="none" color="light" class="rounded">
              <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
              <ion-input label="Pickup Date & Time" (click)="timeOpen()"
                placeholder="{{ selectedTime | date : 'dd MMM, yyyy , hh mm' }}" labelPlacement="stacked"
                class="text-[#3D348B]" color="primary">
              </ion-input>
              <ion-modal [isOpen]="istimeOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Select Date</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="timeOpen()">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                    <ion-datetime showDefaultButtons="true" [(ngModel)]="selectedTime"></ion-datetime>
                  </ion-header>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item lines="none" color="light" class="rounded">
              <ion-checkbox name="calendar" slot="start" color="primary" class="rounded-none"
                (ionChange)="setFromOpen()"></ion-checkbox>
              <ion-input label="I need a round trip" placeholder="{{ selectedDate | date : 'dd MMM, yyyy ,hh  mm' }}"
                labelPlacement="stacked" class="text-[#3D348B]" color="primary">
              </ion-input>
              <ion-modal [isOpen]="isFromDateModalOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Select Date</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setFromOpen()">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                    <ion-datetime showDefaultButtons="true" [(ngModel)]="selectedDate"></ion-datetime>
                  </ion-header>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-button mode="ios" expand="block" class="mt-2">Find</ion-button>
          </ion-card-content>
        </ion-card>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>

        <ion-item button="true">
          <ion-label>
            <span>Pune <span class="text-sm mx-2">to</span> Mumbai</span>
            <p>162 kms -Extra fee ₹17.5/km after 162 km</p>
          </ion-label>
          <ion-label slot="end">
            <span> ₹ 5789</span><span class="line-through	ml-2 text-[12px]">6999</span>
          </ion-label>
        </ion-item>


        <dl class=" p-2  ">
          <li class="">
            <span  >Car Rentals</span> <br>
            <span  class=" text-sm">
              Car rental services are a convenient way to get around without using your vehicle or resorting to public
              transport.
              With a car rental, you can explore a city, take a much-needed road trip and make spontaneous getaways
              possible.
              Gone are the days when owning a car was a necessity. Today, choosing a car hire gives you all the mobility
              and privacy you need, without digging deep into your pockets.

            </span>
          </li>
          
          <li> 
            <span> Unlock Guidelines for Car Rental in India</span> <br>
            <span class="text-sm ml-3">

              COVID-19 restrictions are relaxing in several places around India. It means that travel is becoming
              easier. To ensure complete safety, you can rent cars that are sanitized and well maintained. Car rental
              service is available on carslife, and you can book it while following all the pandemic related guidelines.
              Following are some unlocking guidelines that you need to remember while booking a car rental on carslife -
            </span>
            <dl>
              <li class="text-sm ml-8">
                Luxury cars are available for car rental in several cities around India. People travelling across states
                may have to submit the RT-PCR test report. Tourists should refer to the guidelines for specific
                locations and adhere to them while travelling.
              </li> 
              <li class="text-sm ml-8">For travel via car within the state, double vaccine shots might be necessary. The protocols change
                from state to state, and it is important to check them before renting a car.
              </li> 
              <li class="text-sm ml-8">A temperature check is conducted for all passengers and the driver before the start of the journey.
              </li> 
              <li class="text-sm ml-8">All cars available on carslife can only be rented if all safety protocols are maintained. carslife
                provides cars with skilled drivers who follow all guidelines during the journey.
              </li> 
              <li class="text-sm ml-8">Passengers are also encouraged to use the sanitisers available in the vehicle. Drivers and passengers
                have to wear masks while travelling.
              </li> 
              <li class="text-sm ml-8">In this unlock phase, cities like Hyderabad, Bangalore, Madurai and Visakhapatnam have opened tourist
                destinations. You can rent cars from carslife for road trips, pilgrimages, and family programs. Car rental
                service is also available for inter-state business trips.
              </li> 
              <li class="text-sm ml-8">In several cities, public transport is still functioning at a limited capacity. Opting for a car
                rental service is a better option as it is safer. Groups of 4, 5 or 7 people can rent a car for travel.
              </li> 
            </dl> <br>
          </li>
         
            
              <li>
               <span> Key Points to Remember about Car Rental</span> <br>
<span class="text-sm">
  
Car rental services provide you with the perfect opportunity to enjoy spontaneous getaways without having to worry about the timings of any public transportation vehicles. Choosing a self drive car rental service or even a Ryde car rental with the driver will allow you to have a flexible travel plan and the privacy you and your family would require!
<br>
<br>
 A few key points you need to remember about the Ryde car rental are:</span>
              </li>
<dl class="ml-6 text-sm">
<li>  There are many reasons why you should go for the car rental near me option, and these include freedom of movement, the fact that they are readily available, are economical, and that they can be quickly booked online!
</li>
<li>Customers can insure their trip by paying a small fee of about Rs. 40 when booking a car so that carslife can cover you in case an unfortunate event takes place.
</li>
<li>There are three main types of car rentals offered in Ryde, and these include 4-seaters, 5-seaters, and 7-seaters. 
</li>
<li>For occasions that require a show of class, customers can hire luxury cars from Ryde.
</li>
<li>Ryde’s car rental services are offered in most major cities and pilgrimage points, including Bengaluru, Mumbai, Chennai, Kochi, Tirupati, Goa, and many more! 
</li>
<li>The drivers and the vehicles you see on the website are approved by carslife and are chosen based on the ratings of past customers. 
</li>

</dl>
<li>Car Rental Near Me <br>
<span class="text-sm">  Car rental services are available in popular and highly-frequented cities across India. To find the nearest car rental, you can run a quick search for car rental near meor look through carslife listings for more information. Here are some cities you can opt for car hire with carslife:
</span>  </li>
  <dl class="ml-10 text-sm">
    
<li>  Bengaluru</li>
  <li>Mangalore</li>
  <li>Mumbai</li>
  <li>Pune</li>
<li>  New Delhi</li>
<li>  Chennai</li>
 <li> Hyderabad</li>
 <li> Bhopal</li>
  <li>Indore</li>
 <li> Jabalpur</li>
 <li> Kochi</li>
 <li> Ernakulam</li>
 <li> Goa</li>
  <li> Tirupati</li>
 
  </dl>

          
        

        </dl>


      </div>